// В этом файле должны быть стили для БЭМ-блока intro, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.intro {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background: #2c2d31 center no-repeat;
	padding: 50px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, 0);
		transition: 2s;
	}
}

div.intro {
	@media (min-width: 1920px) {
		background: #2c2d31 url('../img/intro.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 1920px) {
		background: #2c2d31 url('../img/intro1920x1080@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 1366px) {
		background: #2c2d31 url('../img/intro1366x768@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 1280px) {
		background: #2c2d31 url('../img/intro1280x1024@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 768px) {
		background: #2c2d31 url('../img/intro768x1024@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 415px) {
		background: #2c2d31 url('../img/intro414x736@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 375px) {
		background: #2c2d31 url('../img/intro375x667@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 375px) and (min-width: 740px) {
		background: #2c2d31 url('../img/intro375x812@2x.jpg') bottom / cover no-repeat;
	}

	@media (max-width: 360px) {
		background: #2c2d31 url('../img/intro360x640@2x.jpg') bottom / cover no-repeat;
	}

	/* Swap higher DPI images */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.intro--darked {
	&::after {
		background: rgba(0, 0, 0, 0.4);
	}

	.intro__anim-svg {
		opacity: 1;
	}
}

.intro__names-heart {
	transition: 6s;
	opacity: 0;
}

.intro__anim-svg {
	max-width: 1140px;
	z-index: 2;
	position: relative;
	top: 100px;
	opacity: 0;
	transition: 2s;
	max-height: 205px;
}

.intro__slogan {
	color: #fff;
	z-index: 2;
	font-size: 26px;
	text-align: center;
	max-width: 1140px;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	opacity: 0;
	position: relative;
	top: 80px;

	animation: fadeIn 2s linear forwards;
	animation-delay: 8.2s;
}

.intro__anim-svg.intro__anim-svg--js-ready {
	#intro-with1 {
		stroke-dasharray: 4000;
		stroke-dashoffset: 4200;
		animation: dash 3s linear forwards;
		animation-delay: 0.8s;
	}

	#intro-with2 {
		stroke-dasharray: 1200;
		stroke-dashoffset: 1400;
		animation: dash 3s linear forwards;
		animation-delay: 0.9s;
	}

	#intro-with3 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1100;
		animation: dash 3s linear forwards;
		animation-delay: 0.9s;
	}

	#intro-with4 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 1s;
	}

	#intro-with5 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1100;
		animation: dash 3s linear forwards;
		animation-delay: 1.1s;
	}

	#intro-with6 {
		stroke-dasharray: 900;
		stroke-dashoffset: 1000;
		animation: dash 3s linear forwards;
		animation-delay: 1.1s;
	}

	#intro-with7 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1500;
		animation: dash 3s linear forwards;
		animation-delay: 1.1s;
	}

	#intro-with8 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1500;
		animation: dash 3s linear forwards;
		animation-delay: 1.2s;
	}

	#intro-with9 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1500;
		animation: dash 3s linear forwards;
		animation-delay: 1.3s;
	}

	#intro-with10 {
		stroke-dasharray: 3000;
		stroke-dashoffset: 3100;
		animation: dash 2s linear forwards;
		animation-delay: 1.3s;
	}

	#intro-with11 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1500;
		animation: dash 3s linear forwards;
		animation-delay: 1.5s;
	}

	#intro-with12 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1500;
		animation: dash 2s linear forwards;
		animation-delay: 1.6s;
	}

	#intro-you-t1 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1700;
		animation: dash 2s linear forwards;
		animation-delay: 1.7s;
	}

	#intro-you-t2 path {
		stroke-dasharray: 800;
		stroke-dashoffset: 1000;
		animation: dash 2s linear forwards;
		animation-delay: 1.7s;
	}

	#intro-you-t3 path {
		stroke-dasharray: 500;
		stroke-dashoffset: 700;
		animation: dash 2s linear forwards;
		animation-delay: 1.7s;
	}

	#intro-you-o1 {
		stroke-dasharray: 1100;
		stroke-dashoffset: 1300;
		animation: dash 2s linear forwards;
		animation-delay: 1.8s;
	}

	#intro-you-o2 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 1.8s;
	}

	#intro-you-b1 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 2s;
	}

	#intro-you-b2 path {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 2s;
	}

	#intro-you-b3 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 2s;
	}

	#intro-you-oo1 {
		stroke-dasharray: 1100;
		stroke-dashoffset: 1300;
		animation: dash 2s linear forwards;
		animation-delay: 2.1s;
	}

	#intro-you-oo2 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 2.1s;
	}

	#intro-you-i1 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 2.2s;
	}

	#intro-you-i2 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 2.25s;
	}

	#intro-you-i3 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1200;
		animation: dash 2s linear forwards;
		animation-delay: 2.3s;
	}

	#intro-so-t1 {
		stroke-dasharray: 1500;
		stroke-dashoffset: 1700;
		animation: dash 2s linear forwards;
		animation-delay: 2.5s;
	}

	#intro-so-t2 {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1200;
		animation: dash 2s linear forwards;
		animation-delay: 2.6s;
	}

	#intro-so-t3 {
		stroke-dasharray: 800;
		stroke-dashoffset: 900;
		animation: dash 2s linear forwards;
		animation-delay: 2.8s;
	}

	#intro-so-a1 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 2.9s;
	}

	#intro-so-a2 {
		stroke-dasharray: 400;
		stroke-dashoffset: 500;
		animation: dash 3s linear forwards;
		animation-delay: 2.9s;
	}

	#intro-so-k1 {
		stroke-dasharray: 400;
		stroke-dashoffset: 500;
		animation: dash 3s linear forwards;
		animation-delay: 2.9s;
	}

	#intro-so-k2 {
		stroke-dasharray: 900;
		stroke-dashoffset: 1000;
		animation: dash 3s linear forwards;
		animation-delay: 2.9s;
	}

	#intro-so-k3 {
		stroke-dasharray: 1200;
		stroke-dashoffset: 1300;
		animation: dash 3s linear forwards;
		animation-delay: 2.9s;
	}

	#intro-close-b1 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 3.1s;
	}

	#intro-close-b2 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 3.2s;
	}

	#intro-close-b3 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 3.3s;
	}

	#intro-close-l path {
		stroke-dasharray: 1600;
		stroke-dashoffset: 1700;
		animation: dash 2s linear forwards;
		animation-delay: 3.4s;
	}

	#intro-close-i1 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 3.5s;
	}

	#intro-close-i2 {
		stroke-dasharray: 700;
		stroke-dashoffset: 800;
		animation: dash 3s linear forwards;
		animation-delay: 3.6s;
	}

	#intro-close-z path {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1200;
		animation: dash 3s linear forwards;
		animation-delay: 3.7s;
	}

	#intro-close-k1 {
		stroke-dasharray: 400;
		stroke-dashoffset: 500;
		animation: dash 3s linear forwards;
		animation-delay: 3.8s;
	}

	#intro-close-k2 {
		stroke-dasharray: 900;
		stroke-dashoffset: 1000;
		animation: dash 3s linear forwards;
		animation-delay: 3.9s;
	}

	#intro-close-k3 {
		stroke-dasharray: 1200;
		stroke-dashoffset: 1300;
		animation: dash 3s linear forwards;
		animation-delay: 4.0s;
	}

	#intro-close-o1 {
		stroke-dasharray: 1100;
		stroke-dashoffset: 1300;
		animation: dash 2s linear forwards;
		animation-delay: 4.1s;
	}

	#intro-close-o2 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 4.2s;
	}

	#intro-dot1 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 4.8s;
	}

	#intro-dot2 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 4.9s;
	}

	#intro-dot3 {
		stroke-dasharray: 600;
		stroke-dashoffset: 700;
		animation: dash 3s linear forwards;
		animation-delay: 5s;
	}
}

@media (max-width: 768px) {
	.intro {
		padding: 30px 5px;
	}
	.intro__anim-svg {
		margin-bottom: 5px;
		position: static;
	}
	.intro__slogan {
		font-size: 18px;
		position: static;
	}
}

@media (max-width: 430px) {
	.intro {
		justify-content: center;
	}

	.intro__slogan {
		font-size: 13px;
		text-align: center;
	}

	.intro--darked {
		&::after {
			background: rgba(0, 0, 0, 0.5);
		}
	}
}
