@font-face {
	font-family: 'Museo Cyrl';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/MuseoSansCyrl-300.eot');
	/* IE9 Compat Modes */
	src: local('Museo Cyrl Light'), local('Museo Cyrl'),
	url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		/* Super Modern Browsers */
	url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		/* Modern Browsers */
	url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	/* Legacy iOS */
	font-display: fallback;
}

@font-face {
	font-family: 'Museo Cyrl';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/museosanscyrl-500.ttf');
	font-display: fallback;
}

@font-face {
	font-family: 'Museo Cyrl';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/MuseoSansCyrl-700.eot');
	/* IE9 Compat Modes */
	src: local('Museo Cyrl Bold'), local('Museo Cyrl'),
	url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		/* Super Modern Browsers */
	url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		/* Modern Browsers */
	url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	/* Legacy iOS */
	font-display: fallback;
}

/* Icons
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/slick.eot');
	src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
	font-display: fallback;
}*/