%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-bow-tie {
	@extend %svg-common;
	background-position: 0 11.233766233766234%;
}

._svg-icon-bow-tie-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-bridal-shoe {
	@extend %svg-common;
	background-position: 99.92380952380951% 0;
}

._svg-icon-bridal-shoe-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-gallery--img--gallery-arrow {
	@extend %svg-common;
	background-position: 30.476190476190474% 0;
}

._svg-icon-gallery--img--gallery-arrow-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-question {
	@extend %svg-common;
	background-position: 48.467289719626166% 97.0886075949367%;
}

._svg-icon-question-dims {
	width: 30px;
	height: 30px;
}

._svg-icon-story-map--img--map-places {
	@extend %svg-common;
	background-position: 85.1025641025641% 85.22222222222223%;
}

._svg-icon-story-map--img--map-places-dims {
	width: 20px;
	height: 19px;
}

._svg-icon-story-map--img--story-back {
	@extend %svg-common;
	background-position: 89.67521367521366% 62.69662921348315%;
}

._svg-icon-story-map--img--story-back-dims {
	width: 20px;
	height: 20px;
}

._svg-icon-wedding--img--arch {
	@extend %svg-common;
	background-position: 72.08006962576152% 0;
}

._svg-icon-wedding--img--arch-dims {
	width: 22.1px;
	height: 32px;
}

._svg-icon-wedding--img--ornament1 {
	@extend %svg-common;
	background-position: 30.476190476190474% 53.75753091639362%;
}

._svg-icon-wedding--img--ornament1-dims {
	width: 32px;
	height: 14.39px;
}

._svg-icon-wedding--img--ornament2 {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-wedding--img--ornament2-dims {
	width: 32px;
	height: 8.65px;
}

._svg-icon-wedding--img--wedding-car-icon {
	@extend %svg-common;
	background-position: 99.92380952380951% 37.55868544600939%;
}

._svg-icon-wedding--img--wedding-car-icon-dims {
	width: 32px;
	height: 23.8px;
}

._svg-icon-wedding--img--wedding-hearts {
	@extend %svg-common;
	background-position: 70.347405079419% 41.55844155844156%;
}

._svg-icon-wedding--img--wedding-hearts-dims {
	width: 19.27px;
	height: 32px;
}

._svg-icon-wedding--img--wedding-pie {
	@extend %svg-common;
	background-position: 0 99.6103896103896%;
}

._svg-icon-wedding--img--wedding-pie-dims {
	width: 19.86px;
	height: 32px;
}

._svg-icon-wedding--img--wedding-rings {
	@extend %svg-common;
	background-position: 0 61.15921115921116%;
}

._svg-icon-wedding--img--wedding-rings-dims {
	width: 32px;
	height: 25.84px;
}

._svg-icon-wedding--img--wedding2019 {
	@extend %svg-common;
	background-position: 0 41.14788946249621%;
}

._svg-icon-wedding--img--wedding2019-dims {
	width: 32px;
	height: 10.21px;
}

._svg-icon-wedding--img--wedding9 {
	@extend %svg-common;
	background-position: 68.62268421493839% 88.81426586382585%;
}

._svg-icon-wedding--img--wedding9-dims {
	width: 17.71px;
	height: 22.64px;
}

._svg-icon-wedding--img--wedding__dress {
	@extend %svg-common;
	background-position: 54.1546793027585% 0;
}

._svg-icon-wedding--img--wedding__dress-dims {
	width: 18.82px;
	height: 32px;
}

._svg-icon-wedding--img--wine-glasses {
	@extend %svg-common;
	background-position: 18.914285714285715% 99.3008803728638%;
}

._svg-icon-wedding--img--wine-glasses-dims {
	width: 32px;
	height: 31.76px;
}

