%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-bow-tie {
	@extend %svg-common;
	background-position: 0 18.21518987341772%;
}

._svg-icon-bow-tie-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-bridal-shoe {
	@extend %svg-common;
	background-position: 16.37037037037037% 99.22784810126582%;
}

._svg-icon-bridal-shoe-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-close {
	@extend %svg-common;
	background-position: 94.42957746478874% 72.65882352941178%;
}

._svg-icon-close-dims {
	width: 25px;
	height: 26px;
}

._svg-icon-gallery--img--gallery-arrow {
	@extend %svg-common;
	background-position: 37.644444444444446% 0;
}

._svg-icon-gallery--img--gallery-arrow-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-heart-white {
	@extend %svg-common;
	background-position: 0 58.721518987341774%;
}

._svg-icon-heart-white-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-instagram-white {
	@extend %svg-common;
	background-position: 23.703703703703702% 58.721518987341774%;
}

._svg-icon-instagram-white-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-question {
	@extend %svg-common;
	background-position: 97.87591240875912% 39.20987654320987%;
}

._svg-icon-question-dims {
	width: 30px;
	height: 30px;
}

._svg-icon-story-map--img--map-places {
	@extend %svg-common;
	background-position: 58.57142857142857% 85.20652173913044%;
}

._svg-icon-story-map--img--map-places-dims {
	width: 20px;
	height: 19px;
}

._svg-icon-story-map--img--story-back {
	@extend %svg-common;
	background-position: 91.21768707482993% 96.43956043956044%;
}

._svg-icon-story-map--img--story-back-dims {
	width: 20px;
	height: 20px;
}

._svg-icon-wedding--img--arch {
	@extend %svg-common;
	background-position: 0 99.22784810126582%;
}

._svg-icon-wedding--img--arch-dims {
	width: 22.1px;
	height: 32px;
}

._svg-icon-wedding--img--ornament1 {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-wedding--img--ornament1-dims {
	width: 32px;
	height: 14.39px;
}

._svg-icon-wedding--img--ornament2 {
	@extend %svg-common;
	background-position: 61.34814814814815% 56.51196873473376%;
}

._svg-icon-wedding--img--ornament2-dims {
	width: 32px;
	height: 8.65px;
}

._svg-icon-wedding--img--wedding-car-icon {
	@extend %svg-common;
	background-position: 40.074074074074076% 89.89678899082568%;
}

._svg-icon-wedding--img--wedding-car-icon-dims {
	width: 32px;
	height: 23.8px;
}

._svg-icon-wedding--img--wedding-hearts {
	@extend %svg-common;
	background-position: 77.722872808502% 0;
}

._svg-icon-wedding--img--wedding-hearts-dims {
	width: 19.27px;
	height: 32px;
}

._svg-icon-wedding--img--wedding-pie {
	@extend %svg-common;
	background-position: 56.28652983553079% 32.70886075949367%;
}

._svg-icon-wedding--img--wedding-pie-dims {
	width: 19.86px;
	height: 32px;
}

._svg-icon-wedding--img--wedding-rings {
	@extend %svg-common;
	background-position: 61.34814814814815% 0;
}

._svg-icon-wedding--img--wedding-rings-dims {
	width: 32px;
	height: 25.84px;
}

._svg-icon-wedding--img--wedding2019 {
	@extend %svg-common;
	background-position: 37.644444444444446% 31.749181466415322%;
}

._svg-icon-wedding--img--wedding2019-dims {
	width: 32px;
	height: 10.21px;
}

._svg-icon-wedding--img--wedding9 {
	@extend %svg-common;
	background-position: 76.91071069730056% 36.215482118605706%;
}

._svg-icon-wedding--img--wedding9-dims {
	width: 17.71px;
	height: 22.64px;
}

._svg-icon-wedding--img--wedding__dress {
	@extend %svg-common;
	background-position: 21.595356998245375% 0;
}

._svg-icon-wedding--img--wedding__dress-dims {
	width: 18.82px;
	height: 32px;
}

._svg-icon-wedding--img--wine-glasses {
	@extend %svg-common;
	background-position: 99.32592592592593% 0;
}

._svg-icon-wedding--img--wine-glasses-dims {
	width: 32px;
	height: 31.76px;
}

