%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-story-map--img--map-places {
	@extend %svg-common;
	background-position: 55.913978494623656% 89.98717948717949%;
}

._svg-icon-story-map--img--map-places-dims {
	width: 20px;
	height: 19px;
}

._svg-icon-story-map--img--story-back {
	@extend %svg-common;
	background-position: 34.40860215053763% 91.15584415584415%;
}

._svg-icon-story-map--img--story-back-dims {
	width: 20px;
	height: 20px;
}

._svg-icon-wedding--img--arch {
	@extend %svg-common;
	background-position: 56.4026402640264% 0;
}

._svg-icon-wedding--img--arch-dims {
	width: 22.1px;
	height: 32px;
}

._svg-icon-wedding--img--ornament1 {
	@extend %svg-common;
	background-position: 0 38.73623048057136%;
}

._svg-icon-wedding--img--ornament1-dims {
	width: 32px;
	height: 14.39px;
}

._svg-icon-wedding--img--ornament2 {
	@extend %svg-common;
	background-position: 39.50617283950617% 36.21958121109225%;
}

._svg-icon-wedding--img--ornament2-dims {
	width: 32px;
	height: 8.65px;
}

._svg-icon-wedding--img--wedding-car-icon {
	@extend %svg-common;
	background-position: 0 63.37431693989071%;
}

._svg-icon-wedding--img--wedding-car-icon-dims {
	width: 32px;
	height: 23.8px;
}

._svg-icon-wedding--img--wedding-hearts {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-wedding--img--wedding-hearts-dims {
	width: 19.27px;
	height: 32px;
}

._svg-icon-wedding--img--wedding-pie {
	@extend %svg-common;
	background-position: 98.98003006227185% 0;
}

._svg-icon-wedding--img--wedding-pie-dims {
	width: 19.86px;
	height: 32px;
}

._svg-icon-wedding--img--wedding-rings {
	@extend %svg-common;
	background-position: 0 98.63687464867904%;
}

._svg-icon-wedding--img--wedding-rings-dims {
	width: 32px;
	height: 25.84px;
}

._svg-icon-wedding--img--wedding2019 {
	@extend %svg-common;
	background-position: 39.50617283950617% 53.45085839382418%;
}

._svg-icon-wedding--img--wedding2019-dims {
	width: 32px;
	height: 10.21px;
}

._svg-icon-wedding--img--wedding9 {
	@extend %svg-common;
	background-position: 96.74677300871026% 43.03388918773534%;
}

._svg-icon-wedding--img--wedding9-dims {
	width: 17.71px;
	height: 22.64px;
}

._svg-icon-wedding--img--wedding__dress {
	@extend %svg-common;
	background-position: 77.90401359099596% 0;
}

._svg-icon-wedding--img--wedding__dress-dims {
	width: 18.82px;
	height: 32px;
}

._svg-icon-wedding--img--wine-glasses {
	@extend %svg-common;
	background-position: 23.790123456790123% 0;
}

._svg-icon-wedding--img--wine-glasses-dims {
	width: 32px;
	height: 31.76px;
}

