// В этом файле должны быть стили для БЭМ-блока wedding, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.wedding {
	@include container;
	padding-top: 70px;
	position: relative;
	text-align: center;
}

.wedding__title {
	@include section-title;
	text-align: center;
}

.wedding__date {
	display: flex;
	align-items: baseline;
	overflow: visible;
	padding-top: 20px;
	margin: 0 auto 70px;
	justify-content: center;
	max-width: 340px;
}

.wedding__date-day {
	height: 40px;
	width: 32px;
	margin-right: 10px;
}

.wedding__date-month {
	vertical-align: text-bottom;
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	color: $secondary-text;
	opacity: 0;
}

.wedding__date-year {
	height: 40px;
	margin-left: 12px;
}

.old-browser {
	.wedding__date-day {
		width: 32px;
	}
	.wedding__date-year {
		width: 125px;
	}
}

.wedding__date-bg {
	position: absolute;
	z-index: -1;
	width: 220px;
	top: 90px;
	left: 50%;
	transform: translateX(-50%);
	opacity: .2;
	transition: 0.3s;
}

html:not(.edge-browser) .wedding__date-bg {
	animation: baloon-bounce 8s linear infinite;
	animation-delay: 0.4s;
}

.wedding__date-day {
	opacity: 0;
	path {
		stroke-width: 10px;
		stroke-dashoffset: 800;
	}
}

.wedding__date-year {
	opacity: 0;
	path {
		stroke-width: 10px;
		stroke-dashoffset: 800;
	}
}

.wedding--visible {

	.wedding__date-day {
		opacity: 1;
	}

	.wedding__date-year {
		opacity: 1;
	}
	.wedding__date-month {
		animation: fadeIn 0.5s linear forwards;
		animation-delay: 2.3s;
	}

	#wedding-date9 {
		stroke-dasharray: 500;
		stroke-dashoffset: 800;
		animation: dash 5s linear forwards;
		animation-delay: 0s;
	}

	#wedding-2019-1 {
		stroke-dasharray: 500;
		stroke-dashoffset: 800;
		animation: dash 5s linear forwards;
		animation-delay: 0.4s;
	}

	#wedding-2019-2 {
		stroke-dasharray: 500;
		stroke-dashoffset: 800;
		animation: dash 5s linear forwards;
		animation-delay: 0.8s;
	}

	#wedding-2019-3 {
		stroke-dasharray: 500;
		stroke-dashoffset: 800;
		animation: dash 5s linear forwards;
		animation-delay: 1s;
	}

	#wedding-2019-4 {
		stroke-dasharray: 500;
		stroke-dashoffset: 800;
		animation: dash 5s linear forwards;
		animation-delay: 1.2s;
	}
}

.old-browser .wedding__date {
	.wedding__date-month {
		animation: none;
		opacity: 1;
	}
}

.wedding__places {
	background: #fff;
}

.wedding__place-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
	min-height: calc(100vh - 368px);
}

.wedding__arch-icon {
	height: 410px;
	margin-bottom: 25px;
}

.wedding__place-item-event {
	display: block;
	color: $color-accent-dark;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 6px;
}

.wedding__place-item-title {
	color: $secondary-text;
	font-weight: 700;
	font-size: 44px;

	a {
		color: $secondary-text;
		font-weight: 700;
		transition: 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

html:not(.edge-browser) {

	.wedding__arch-rose-path:nth-of-type(odd) {
		transform-origin: center;
		animation: spin-to-right 4s linear infinite;
		animation-delay: 0s;
		transform-box: fill-box;
	}

	.wedding__arch-rose-path:nth-of-type(even) {
		transform-origin: center;
		animation: spin-to-left 4s linear infinite;
		animation-delay: 0s;
		transform-box: fill-box;
	}

	#arch-rose13 {
		animation: spin-to-right 4s linear infinite;
		animation-delay: 0s;
	}
}

.wedding__dresscode {
	width: 500px;
	max-width: 100%;
	margin: 0 auto 50px;
}

.wedding__colors-title, .wedding__dresscode-title {
	color: $color-accent-dark;
	font-size: 22px;
	margin-bottom: 20px;
}

.wedding__dresscode-title {
	margin-bottom: 10px;
}

.wedding__dresscode-description {
	font-size: 16px;
	line-height: 1.4;
	color: $secondary-text;

	strong {
		font-weight: 500;
	}
}

.wedding__colors-list {
	display: flex;
	justify-content: center;
}

.wedding__colors-list--full {
	&::before {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 2;
	}
}

.wedding__colors-mobile-desc {
	display: none;
}

.wedding__color {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	background: #000;

	/*&:nth-of-type(1) {
		background: linear-gradient(45deg, #3d708d 25%, rgba(61, 112, 141, 0.68) 100%);
	}*/

	&:nth-of-type(1) {
		background: linear-gradient(45deg, #62BED5 25%, rgba(98, 190, 213, 0.43) 100%);
	}

	&:nth-of-type(2) {
		background: linear-gradient(45deg, #A9D3E3 25%, rgba(169, 211, 227, 0.5) 100%);
	}

	&:nth-of-type(3) {
		background: linear-gradient(45deg, #97D6DF 25%, rgba(151, 214, 223, 0.55) 100%);
	}

	&:nth-of-type(4) {
		background: linear-gradient(45deg, #F3E9F1 25%, rgba(243, 233, 241, 0.67) 100%);
	}

	&:nth-of-type(5) {
		background: linear-gradient(45deg, #EADFEF 25%, rgba(234, 223, 239, 0.5) 100%);
	}

	/*&:nth-of-type(5) {
		background: linear-gradient(45deg, #ffbb9e 25%, rgba(255, 187, 158, 0.43) 100%);
	}*/

	&:last-of-type {
		margin-right: 0;
	}
}

.wedding__color.wedding__color--full {
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;

	&:nth-of-type(1) {
		background: #62BED5 25%;
	}

	&:nth-of-type(2) {
		background: #A9D3E3;
	}

	&:nth-of-type(3) {
		background: #97D6DF;
	}

	&:nth-of-type(4) {
		background: #F3E9F1;
	}

	&:nth-of-type(5) {
		background: #EADFEF;
	}
}

.wedding__color-palette {
	margin-bottom: 80px;
}

.wedding__colors-caption {
	color: $secondary-text;
	display: block;
	font-size: 14px;
	max-width: 310px;
	text-align: left;
	margin: 15px auto 0;
	position: relative;

	&::before {
		content: '*';
		position: absolute;
		top: 0;
		left: -7px;
	}
}

.wedding__schedule {
	display: flex;
	justify-content: space-around;
}

.wedding__schedule-item {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&:not(:last-of-type) {
		margin-right: 30px;
	}
}

.wedding__schedule-event {
	color: $secondary-text;
	font-weight: 300;
	width: 200px;
	line-height: 1.2;
	font-size: 16px;
	display: block;
}

.wedding__schedule-item-time {
	width: 200px;
	font-size: 18px;
	line-height: 1.1;
	color: $color-accent-dark;
	margin-bottom: 4px;
	font-weight: 500;
	margin-top: 4px;
}

.wedding__dress-icon {
	height: 150px;
	margin-bottom: 15px;
}

.wedding__winge-glasses-icon {
	width: 130px;
	height: 150px;
	margin-bottom: 15px;
}

.wedding__rings-icon {
	height: 150px;
	width: 160px;
	margin-bottom: 15px;
}

.wedding__pie-icon {
	height: 150px;
	width: 140px;
	margin-bottom: 15px;
}

.wedding__schedule-title {
	color: $secondary-text;
	font-size: 32px;
	margin-bottom: 36px;
}

.wedding__schedule-wrapper {
	margin-bottom: 60px;
}

.wedding__notices {
	margin-left: 110px;

	p {
		max-width: 500px;
		margin: 0 auto 25px;
		font-size: 16px;
		text-align: left;
		color: $notice-text;
		position: relative;

		&:first-of-type::before {
			content: '*';
			position: absolute;
			top: 0;
			left: -9px;
		}

		&:nth-of-type(2)::before {
			content: '**';
			position: absolute;
			top: 0;
			left: -18px;
		}
	}
}

.wedding__family-ready {
	width: 400px;
	max-width: 100%;
	margin: 70px auto 10px;
	position: relative;
	left: -30px;
}

@media (max-width: 1100px) {
	.wedding__schedule {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 600px;
		margin: 0 auto;
	}
	.wedding__schedule-item {
		width: calc(50% - 30px);
		margin-bottom: 35px;
		margin-right: 0;

		&.wedding__schedule-item:nth-of-type(even) {
			margin-right: 0;
		}
	}
}

@media (max-width: 991px) {
	.wedding__schedule-wrapper {
		margin-bottom: 40px;
	}
	.wedding__schedule {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 600px;
		margin: 0 auto;
	}
	.wedding__schedule-item {
		width: calc(50% - 30px);
		margin-bottom: 35px;
		margin-right: 0;

		&.wedding__schedule-item:not(:last-of-type) {
			margin-right: 0;
		}
	}
}

@media (max-width: 768px) {
	.wedding__colors-mobile-desc {
		color: $secondary-text;
		display: block;
		margin: 15px auto 0;
		position: relative;
		max-width: 200px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.3;
	}
	.wedding__schedule-item {
		width: 100%;
	}
	.wedding__date-day, .wedding__date-year {
		height: 30px;
	}
	.wedding__date-month {
		font-size: 18px;
	}
	.wedding__date-bg {
		width: 180px;
	}
	.wedding__place-item-event, .wedding__colors-title, .wedding__dresscode-title {
		font-size: 17px;
		margin-bottom: 10px;
	}
	.wedding__dresscode-description {
		font-size: 16px;
	}
	.wedding__colors-list {
		animation: pulse 2s infinite ease;
	}
	.wedding__colors-list--full {
		animation: none;
	}
	.wedding__color-palette {
		margin-bottom: 50px;
	}
	.wedding__place-item {
		margin-bottom: 50px;
	}
	.wedding__place-item-title {
		font-size: 33px;
		line-height: 1.1;
		display: block;
	}
	.wedding__color {
		width: 44px;
		height: 44px;
		margin-right: 15px;
	}
	.wedding__colors-caption {
		font-size: 13px;
		text-align: left;
	}
	.wedding__schedule-wrapper {
		margin-bottom: 20px;
	}
	.wedding__schedule-title {
		font-size: 24px;
	}
	.wedding__schedule-item {
		width: 100%;
	}
	.wedding__notices {
		margin-left: 20px;
	}
}

@media (max-height: 800px) {
	.wedding {
		padding-top: 40px;
	}
	.wedding__arch-icon {
		height: 320px;
	}
}

@keyframes baloon-bounce {
	0% {
		transform: translateY(-15px) translateX(-50%);
	}
	50% {
		transform: translateY(15px) translateX(-50%);
	}
	100% {
		transform: translateY(-15px) translateX(-50%);
		opacity: 0.2;
	}
}

@keyframes spin-to-right {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin-to-left {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}