// В этом файле должны быть стили для БЭМ-блока hashtag, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.hashtag {
	@include container;
	padding: 100px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-width: 100%;
	position: relative;
	overflow: hidden;
}

.hashtag__bg-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: center / 95% no-repeat;
	opacity: 0.1;
	z-index: -1;
}

.hashtag__title {
	@include section-title;
	margin: 0 auto 60px;
}

.hashtag__main {
	display: flex;
	font-size: 100px;
	color: $secondary-text;
	font-weight: 500;
}

.hashtag__description {
	max-width: 924px;
	margin-top: 70px;
	font-size: 14px;
	position: relative;
	font-weight: 500;

	&::before {
		content: '*';
		position: absolute;
		top: -4px;
		left: -14px;
		font-size: 24px;
	}
}

.hashtag__desc-accent {
	color: $color-accent-dark;
	font-weight: 700;
}

@media (max-width: 1100px) {
	.hashtag__main {
		font-size: 80px;
	}
	.hashtag__description {
		max-width: 739px;
	}
}

@media (max-width: 991px) {
	.hashtag__bg-block {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: 45% 55% / 120% no-repeat;
		opacity: 0.1;
		transform: rotate(15deg);
	}
	.hashtag__title {
		font-size: 36px;
		margin-bottom: 50px;
	}
	.hashtag__main {
		font-size: 70px;
	}
	.hashtag__description {
		max-width: 647px;
		margin-top: 50px;
	}
}

@media (max-width: 768px) {
	.hashtag__bg-block {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: 45% 55%/95% no-repeat;
		opacity: 0.2;
		transform: rotate(15deg) scale(1.6);
	}

	.hashtag__main {
		font-size: 60px;
	}
	.hashtag__title {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.hashtag__description {
		max-width: 554px;
		margin-top: 40px;
		font-size: 13px;
		line-height: 1.5;
	}
}

@media (max-width: 600px) {
	.hashtag__bg-block {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: 45% 55%/95% no-repeat;
		opacity: 0.2;
		transform: rotate(25deg) scale(1.6);
	}
	.hashtag__main {
		font-size: 50px;
	}
	.hashtag__description {
		line-height: 1.3;
		max-width: 464px;
	}
}

@media (max-width: 520px) {

	.hashtag__bg-block {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: 45% 53%/95% no-repeat;
		opacity: 0.2;
		transform: rotate(25deg) scale(1.7);
	}
	.hashtag__main {
		font-size: 40px;
	}
	.hashtag__description {
		line-height: 1.4;
		max-width: 410px;
		margin-left: 10px;
	}
}

@media (max-width: 450px) {
	.hashtag__bg-block {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: 45% 53%/95% no-repeat;
		opacity: 0.2;
		transform: rotate(25deg) scale(1.9);
	}
	.hashtag__title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.hashtag__main {
		font-size: 34px;
	}
	.hashtag__description {
		line-height: 1.4;
		max-width: 310px;
		margin-left: 20px;
		margin-top: 30px;
	}
}

@media (max-width: 400px) {
	.hashtag__bg-block {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: center/95% no-repeat;
		opacity: 0.2;
		transform: rotate(15deg) scale(2);
	}
	.hashtag__title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.hashtag__main {
		font-size: 34px;
	}
	.hashtag__description {
		line-height: 1.4;
		max-width: 310px;
		margin-left: 20px;
		margin-top: 30px;
	}
}

@media (max-width: 360px) {
	.hashtag__bg-block {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: center/95% no-repeat;
		opacity: 0.2;
		transform: rotate(15deg) scale(2.2);
	}
	.hashtag__title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.hashtag__main {
		font-size: 28px;
	}
	.hashtag__description {
		line-height: 1.4;
		max-width: 100%;
		margin-top: 30px;
		margin-left: 10px;
		font-size: 12px;

		&::before {
			display: none;
		}
	}
}