// В этом файле должны быть стили для БЭМ-блока about, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.about {
	@include container;
	padding: 70px 15px 30px;

	p {
		font-size: 18px;
		margin-bottom: 0.8em;
		line-height: 1.5;
		max-width: 900px;
		background: #fff;
	}
}

.about__title {
	@include section-title;
}

.about__lovestory-wrap {
	width: 900px;
	display: block;
	margin-top: 40px;

	img {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.about {
		padding-top: 45px;

		p {
			font-size: 16px;
		}
	}
}
