// В этом файле должны быть стили для БЭМ-блока footer, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.footer {
	min-height: 70px;
	text-align: center;
	background: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 20px;

	a {
		color: $color-accent-dark;
		transition: 0.4s;

		&:hover {
			color: $color-accent;
		}
	}
}

.footer__copyright {
	font-weight: 500;
}

.footer__author {
	display: block;
}

.footer__social {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.footer__social-link {
	padding: 10px 12px;
}

.footer__attributes {
	font-size: 16px;
	line-height: 1.5;

	strong {
		font-weight: 500;
		font-size: 15px;
	}
}

@media (max-width: 620px) {
	.footer {
		padding: 25px 10px 10px;
	}
	.footer__author {
		display: block;
		font-size: 16px;
		margin-bottom: 5px;
	}
	.footer__attributes {
		font-size: 15px;
		line-height: 1.5;

		strong {
			display: block;
			margin-top: 15px;
		}
	}
}